# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Node (if you ever add tooling)
node_modules/
npm-debug.log*

# Env
.env
.env.local

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
